.loading
	background rgba(#eee, 0.75)
	position fixed
	top 0
	bottom 0
	right 0
	left 0
	z-index 9000
	text-align center
	visibility hidden
	opacity 0
	transition all .3s ease-out
	&.show
		opacity 1
		visibility visible
		.loading-icon
			animation loading 1s linear infinite
	.inner
		position absolute
		top 50%
		width 100%
		margin auto
		transform translateY(-25%)
	.icon
	.loading-icon
		fill red
		width 4rem
		height 4rem
		display inline-block
	.title
		margin-top 1rem
		p
			font-size 1.5rem
			line-height 1
			color #333
			font-weight bold
			text-transform uppercase

@keyframes loading
	from
		transform rotate(0)
	to
		transform rotate(360deg)