.no-scroll
	height 100%
	overflow hidden

.popup
	position fixed
	top 0
	bottom 0
	right 0
	left 0
	background rgba(#333, .75)
	visibility hidden
	cursor pointer
	z-index 9999
	overflow-x hidden
	overflow-y auto
	&:after
		content ''
		height 200%
		width 100%
		display block
	&.show-popup
		visibility visible
		.popup__container
			visibility visible
			opacity 1
			transform scale(1)

br = 2px

.popup__container
	box-sizing border-box
	cursor default
	transform scale(0.9)
	transition all .25s ease-out-quart
	visibility hidden
	opacity 0
	box-shadow 0 0 18px 0 rgba(black, .3)
	width 600px
	background white
	position absolute
	top 5%
	left 50%
	margin-left -300px
	border-radius br

.popup__header
.popup__body
	padding 16px 18px

.popup__header
	display flex
	justify-content space-between
	align-items center
	background lighten(#eee, 35%)
	border-radius br
	
.popup__body-inner
	text-align center
	padding 0 64px

.popup-title
	p
		font-size 16px

.popup-icon
	margin 12px 0 16px
	.svg-icon
		width 48px
		height @width

.popup-message
	margin 16px 0 10px
	p
		font-size 18px
		line-height 1.4

.popup-subtext
	p
		font-size 13px
		color #666

.popup-buttons
	margin-top 24px
	a, button
		margin-right 24px
		&:nth-last-child(1)
			margin-right 0

.popup-icon-close
	fill $lightblue
	width 18px
	height @width
	
.close-popup-trigger
	&:hover
		.popup-icon-close
			fill #333

.popup-icon-info
	fill #dedede
	
.popup-icon-exm
	fill $lightyelly
	
.popup-icon-bin
	fill $savered
	
.popup-icon-checkmark
	fill $flatgreen